.details{
    
    margin-top: 30px;
    margin-left: 450px;
    
}

.details1{
    margin-top: 20px;
    margin-left: 10px;
    float: inline-start;
    
}

.footerpartI{
    margin-top: 250px;
    height: 100px;
}